#---modules/mainで使用
vpc_cidr     = "10.0.0.0/16"

azs = [
    "ap-northeast-1a",
    "ap-northeast-1c"
    ]

web_ingress = [
 {
  from_port = 80
  to_port = 80
  protocol = "TCP"
  cidr_blocks = [ "0.0.0.0/0" ]
 }
]
#---

#---EC2で使用
ami = "ami-06cce67a5893f85f9"
instance_type = "t3.micro"
root_volume_size = 10
root_volume_type = "gp3"
#---

#---asg_policyで使用
asg_policy_type  = "TargetTrackingScaling"
asg_metric_type = "ASGAverageCPUUtilization"
#---

#---alb用s3バケットポリシーで使用
account_id = "example"
#---

#---snsで使用
email = "example@gmail.com"
#---

#---s3で使用
s3_bucket_name = {
  alb = "werbserver-accesslogs-alb"
  cloudfront = "werbserver-accesslogs-cloudfront"
}
s3_expire_days = {
  alb = 90
  cloudfront = 90
}

#---

#---wafで使用
web_acl_name = "cloudfront-web-acl"
web_acl_metric_name = "cloudfront-web-acl"
web_acl_managedcommon_metric_name = "aws-common"
web_acl_ratelimit_limit = 1000
web_acl_ratelimit_metric_name = "rate-limit"
#---

#---rdsで使用
rds_instance_class = "db.t4g.micro"
rds_allocated_storage = 20
rds_password = "password"
#---


#---cloudtrailで使用
cloudwatch_log_metric_filter = {
 RootActivity ={
  name = "RootActivity"
  pattern = "{ $.userIdentity.type = \"Root\" && $.userIdentity.invokedBy NOT EXISTS }"
  metric_name = "RootActivityCount"
  namespace = "Security"
 }

 IAMUserCreat ={
  name = "IAMUserCreate"
  pattern = "{ $.eventName = \"CreateUser\" }"
  metric_name = "IAMUserCreateCount"
  namespace = "Security"
 }

 AccessKeyCreat ={
  name = "AccessKeyCreate"
  pattern = "{ $.eventName = \"CreateAccessKey\" }"
  metric_name = "AccessKeyCreateCount"
  namespace = "Security"
 }

 SecurityGroupOpen ={
  name = "SecurityGroupOpen"
  pattern = "{ $.eventName = \"AuthorizeSecurityGroupIngress\" && $.requestParameters.ipPermissions.items.0.ipRanges.items.0.cidrIp = \"0.0.0.0/0\" }"
  metric_name = "SecurityGroupOpenCount"
  namespace = "Security"
 }

 CloudTrailSto ={
  name = "CloudTrailStop"
  pattern =  "{ $.eventName = \"StopLogging\" }"
  metric_name = "CloudTrailStopCount"
  namespace = "Security"
 }
}

#---
